*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #f3f3f3f3;
  -webkit-font-smoothing: antialiased;
}
header {
  background-color: white;
}

.container {
  max-width: 1040px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 615px) {
  .container {
    padding: 0.5rem 0.7rem;
  }
}
